$pink: #ff0d7b;

#makersLinking {
  float: right;
  width: 4rem;
  height: auto;
  animation: ensmallABit 0.3s;
  &:hover {
    animation: enlargeABit 0.3s;
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.9);
  }
}

@keyframes enlargeABit {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes ensmallABit {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

#makerlink-title {
  font-family: 'Quicksand', sans-serif;
  color: $pink;
  background-color: white;
  padding: 1rem;
  font-size: 3rem;
  border: solid 0.2rem white;
  border-radius: 103% 50%;
  text-align: center;
  margin: 3rem auto;
  width: 30%;
  box-shadow: 0.4rem 0.6rem 0.1rem 0.5rem aquamarine;
}

.react-photo-gallery--gallery {
  margin: 10rem auto;
  width: 50%;
}

.react-photo-gallery--gallery img {
  height: 7rem;
  width: auto;
  &:hover {
    transform: scale3d(1.5, 1.5, 1.5);
    border: solid 2px aquamarine;
    border-radius: 5%;
  }
}
